:root {
    --bg-navbar: rgba(35, 35, 35, 0.95);
    --text-header: #ffffff;
    --border-box: #ffffff;
    --bg-optionsList: #000000;
    --bg-button_center-header: #ffffff;
    --txt-color_button:rgb(176, 252, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Karla','Bebas Neue','News Cycle',sans-serif;
    color: #666666;
    -webkit-font-smoothing: antialiased;
}

header {
    background-image: url(/assets/1833667980.jpg);
    background-size: cover;
    min-height: 630px;  
}

header img {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

nav ul {
    display: flex;
    align-items: center; 
    gap: 12px;
    list-style: none; 
    cursor: pointer;  
}

nav li {
    padding: 8px 12px;
    border: 2px solid transparent;
}

nav li:hover {
    transition: all 300ms ease;
    border: 2px solid var(--border-box);
    border-radius: 2px;
}

nav li.box_active {
    padding: 8px 12px;
    border: 2px solid var(--border-box);
    border-radius: 2px;
}

span {
    text-transform: uppercase
}

nav a {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: var(--text-header);
}

#apresentation_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 140px 0px 160px 0px;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 8px;
    color: var(--text-header);
}

header p {
    font-size: 18px;
    letter-spacing: 3px;
    font-family: 'News Cycle',sans-serif;
    color: var(--text-header);
}

header button {
    background-color: transparent;
    border: 2px solid var(--border-box);
}

header button a {
    display: inline-block;
    padding: 8px 28px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
    
    color: var(--text-header);
    cursor: pointer;
    
}

header button a:hover {
    color:var(--txt-color_button);
    background-color: var(--bg-button_center-header);
    transition: all 300ms ease;
}



